@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(222, 222, 233);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


/* Estilos para el header */
.header {
    background-color: #afa3a38f; 
    height: 120px;
    padding: 5px;
    padding-bottom: 5px;
    display: flex;
    width: 100%; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.header-nav {
    list-style-type: none;
    display: flex;
    justify-content:center;
    margin-left: 15px;
    padding: 15px;
}

.header-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.item-nav.item2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-nav li {
    margin: 10px;
    padding: 10px;
}

.header-nav ul li a {
    text-decoration: none;
    border-radius: 5%;
    font-weight: 400;
    margin: 5px;
    padding: 5px;
    color:black;
    font-size: 18px;
}

.logo {
    width: 100px;
    height: auto;
    margin: 15px;
    border-radius: 50%;
    background-color: #ccc;
    max-width: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.header-nav ul li a:hover {
    background-color: #aca5a5;
}

.header-nav .item1 a:hover {
    background-color:inherit;
}


/* Media Queries para Header pantallas medianas y celulares */

@media (max-width: 985px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }
    .header-nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .logo {
        width: 100px;
        height: auto;
        margin-top: 20px;
        padding: 0px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    
    .logo-titulo {
        justify-content: center;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .header-nav ul li {
        margin: 5px 0;
    }
    
    .header-nav ul li a {
        font-size: 18px;
       
    }
}

/* Media Queries para pantallas de celulares muy pequeños */
@media (max-width: 410px) {
    .header-nav ul li a {
        font-size: 16px;
        padding: 6px 12px;
    }
}


/*--------Estilos para el Main -------------*/
main {
    padding: 3px;
    text-align: center;
}

.section1 {
    height: 80vh;
    background-image: url("../assets/img/psychology-fondo.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


.imagen-container {
    max-width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
    
}

.imagen-item {
    border-radius: 5px;
    margin: 10px;
    height: 600px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}

.titulo_pagina {
    font-size: 4em;
    color: #00080c;
    margin: 10px;
    padding:20px;
    text-shadow: 4px 4px 8px rgb(107, 143, 145);
}

.titulo_pagina.principal{
    font-size: 4em;
    color: #00080c;
    text-shadow: 4px 4px 8px rgb(196, 215, 216);
}



#titulo2 {
    margin: 30px;
}


.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}

.presentacion div {
    padding: 30px;
    margin: 20px;
    box-sizing: border-box;
    width: 50;
    height: auto;
    max-width: 700px;
    font-size: larger;
    font-weight: 500;
    border: solid rgba(29, 28, 28, 0.212) 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    
}

.presentacion img {
    max-width: 700px;
    margin:20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

/* Media query para pantallas medianas y pequeñas */

@media (max-width: 1000px) {
    .presentacion {
        flex-direction: column;
        padding: 20px;
    }
    
      .texto-presentacion {
        order: 1; 
      }
    
      .imagen-presentacion {
        order: 2; 
        width: 100%; 
      }


}
@media (max-width: 768px) {

    .titulo_pagina {
        font-size: 2em; 
    }
    .titulo_pagina.principal {
        font-size: 2em; 
    }
    .imagen-container img {
        width: 100%;
        height: auto;
    }
    .presentacion {
        flex-direction: column;
        padding: 20px;
    }
    .texto-presentacion {
        order: 1; 
    }
    .imagen-presentacion {
        order: 2; 
        width: 100%; 
    }
}

@media (max-width: 410px) {
    .imagen-container img {
        width: 100%;
        height: auto;
    }
}

#principal {
        background-image: url('./assets/img/psychology-2706899_1280.jpg'); 
        background-size: cover;
        background-position: center;
        padding: 50px 20px; 
}

.presentacion p {
        max-width: 100%;
 }


/*---------------------pagina Nosotros------------------------*/

.nosotros_container {
    display: flex;
    flex-direction: column;
}



.nosotros h2 {
    margin: 15px;
}

.imagen_nosotros img {
    margin: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


/* -----------------------NUESTROS SERVICIOS----------------------------*/

.servicios-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center; 
    align-items: center; 
    margin: 30px;
    padding: 30px;
    gap: 70px; 
   
}

.servicios-items {
    box-sizing: border-box;
    text-align:center; 
    background-color: rgb(197, 197, 230);
    border-radius: 3%;
    max-width: 90%;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.servicios-items:hover {
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.15);transform:scale(1.15);
}
.servicios-items {
    overflow:hidden;
}


.servicios-items p {
    margin: 10px;
    padding: 5px;
    font-weight: 550;
}

.servicios-items div {
    margin: 10px;
    padding: 25px;
        
}
.servicios-items div a {
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        
}

.servicios-items a:hover {
    background-color: rgb(184, 184, 231);
}

.servicios-items img {
    margin: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 2%;
}


/*************media queries seccion Servicios  con grid ------------ */
@media (max-width: 1500px) {
    .servicios-section {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
    }
    .servicios-items {
        margin: 5px;
        padding: 5px;
        font-size:1rem ;
        font-weight: 550;
    }
  }


@media (max-width: 1300px) {
    .servicios-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2,1fr);
    }
    .servicios-items {
        margin: 5px;
        padding: 5px;
        font-size:1rem ;
        font-weight: 400;
    }

    .servicios-items img {
        max-width: 90%;
    }

  }

@media (max-width: 768px) {
    .servicios-section {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3,1fr);
      
    }
    .servicios-items p {
        margin: 5px;
        padding: 5px;
        font-size:0.8rem ;
        font-weight: 400;
    }
    .servicios-items img {
        max-width: 90%;
    }

  }
  
  @media (max-width: 420px) {
    .servicios-items {
        font-size:0.8rem ;
        font-weight: 400;
    }

    .servicios-items div a{
        font-size:0.8rem ;
        font-weight:400;
    }

  }


/*--Capacitacion flex------*/


.capacitacion {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 60px 20px 30px;
    padding: 5px;
    gap: 30px; 
    flex-wrap: wrap; 
}

.capacitacion-item {
    text-align:center; 
    background-color: rgb(197, 197, 230);
    border-radius: 3%;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.capacitacion img {
    max-width: 100%;
    height: auto;
    width: 800px;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.capacitacion p {
    margin: 15px;
    padding: 5px;
    font-weight: 550;
}

.capacitacion-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 25px;
}

.capacitacion-item h2 {
    margin: 10px;
    padding: 25px;
}
.capacitacion-item div a {
   
    margin: 10px;
    padding: 15px;
    text-decoration: none;
    font-weight: 550;
    border-radius: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        
}

.capacitacion-item img {
    max-width: 100%;
    height: auto;
}

.capacitacion:hover {
    transition:all .5s ease-in-out;
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.servicios-items {
    overflow:hidden;
}


.multimedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 10px 50px 10px;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 100%;
}

.multimedia-items.item1 {
    font-family: "Sour Gummy", sans-serif;
    font-size:1.5rem;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    box-sizing: border-box;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)    
}
.multimedia-items.item1 p {
    margin: 10px;
        
}

.multimedia-items.item2 {
    justify-content: center;
    height: auto;    
    margin: 20px;
    padding: 20px;
    text-align: left;
   
}


/* ------------------- Estilos para el footer--------------------- */

.footer-container {
    margin: 0 auto;
    display: flex;
    background-color: #afa3a38f;
    align-items: start;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    gap: 15px; 
}

.footer-item {
    margin: 15px 10px; 
    padding: 15px; 
}


.footer-item.item2 p {
    margin: 10px 0;
    padding: 5px;
}

.footer-item.item3 h3 {
    margin-bottom: 15px;
}

.redes-soc a:hover {
    color: #0077b5;
}

.redes-soc a {
    color: rgba(2, 2, 2, 0.555);
}

.redes-soc i {
    font-size: 2rem;
    margin-right: 8px;
}

#h6-red-soc {
    margin-bottom: 15px;
}

.navegacion a:hover {
    background-color: #aca5a5;
}


.footer-item.item4 h3 {
    margin-bottom: 15px;
}

.footer-item.item4 p {
    margin: 5px;
    padding: 3px;
}

.footer-item.item4 a {
    border-radius: 2px;
    margin: 3px;
    padding: 4px;
    text-decoration: none;
}

.footer-item.item4 a:hover {
    background-color: #aca5a5;
}


/* Boton Whatsup */

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    margin:20px;
    padding: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .whatsapp-button:hover {
    background-color: #1EBE57;
  }

  .whatsapp-button i {
    margin-right: 10px;
    
  }

/* --------Media query para footer-------- */

@media (max-width: 985px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
 
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-item {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
    }

    .redes-soc i {
        font-size: 1.5rem;
        margin: 10px;
        
    }

    .whatsapp-button {
        font-size: 1.2rem;
        padding: 8px;
    }
}





/* -----------------Formulario de Contacto------------------ */

.google h1 {
    padding: 20px;
}

.google iframe {
    width: 600px;
    height: 450px;
    border: 0;
}


.formulario-contacto {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color:  #afa3a38f;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.formulario-contacto label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.formulario-contacto .buttons {
    text-align: center;
    margin-top: 20px;
}
.formulario-contacto button {
    padding: 10px 30px;
    margin:20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.formulario-contacto button:hover {
    background-color: #45a049;
}

.google h1 {
    margin-top: 20px;
    padding: 15px;
    
}

/*----------Carrito de reservas ---------------------*/

.titulo_pagina.carrito {
    margin: 35px;
    padding: 30px;
} 

