@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.logo {
    width: 100px;
    height: auto;
    margin: 15px;
    border-radius: 50%;
    background-color: #ccc;
    max-width: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.section1 {
    height: 80vh;
    background-image: url("../assets/img/psychology-fondo.jpg"); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}


.imagen-presentacion {
    width: 130%;
    height: auto;
    margin: 15px;
    padding: 5px;

}

.imagen-item {
    width: 100%;
    height: auto;
    margin: 15px;
    padding: 5px;
}