@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.navbar-brand.d-flex.align-items-center.texto-logo {
  margin: 5px;
  padding: 0px;
}
.logo {
    width: 120px;
    height: auto;
    margin:0px;
    padding: 0px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #ccc;
    max-width: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.texto-logo {
    font-size:xx-large;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 15px;
    padding: 15px;
    
}

.nav-item {
    font-size:1.2rem;
    font-weight: 550;
    margin: 5px;
    padding: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #cfdef1; 
    border-radius: 5px;
    transition: all 0.3s ease;
       
}


.btn-buscar {
    border: none;
    background-color: rgb(52, 77, 118);
    color: #ffffff; 
    transition: all 0.3s ease;
  }
  
  .btn-buscar:hover {
    background-color: #1a71ce; 
    color: #ffffff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  }
  
  .btn-buscar:active {
    background-color: rgb(52, 77, 118) !important; 
    color: #ffffff; 
   
}

/*----------------------body ----------------------------*/  

.imagen-inicio {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.titulo-pagina {
  color: black;
  width: 100%;
  font-size: 4rem; 
  text-shadow: 2px 2px 4px rgba(235, 231, 231, 0.7);
  padding: 15px 15px; 
  border-radius: 5px; 
  }

  @media (max-width: 992px) {
    .titulo-pagina {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 768px) {
    .titulo-pagina {
      font-size: 2rem;
    }
    .navbar-brand.d-flex.align-items-center.texto-logo img {
      width: 80px;
    }
    .navbar-brand.d-flex.align-items-center.texto-logo p {
      font-size: 1.5rem;
    
    }

  }

.imagen-presentacion {
    width: 130%;
    height: auto;
    margin: 25px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.texto-presentacion {
    border: rgb(131, 129, 129) solid 1px;
    width: 100%;
    font-size: larger;
    height: auto;
    margin: 20px;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.imagen-item {
    width: 100%;
    height: auto;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


/* ----footer----- */

/* Alinear el texto de cada div a la izquierda */
.footer .container-fluid {
  text-align: left; 
}

.footer .row {
  text-align: left; 
}

.footer .col-12 {
  text-align: left; 
}

.footer .navbar-brand {
  text-align: left; 
}


.footer .footer-nav a {
  text-align: left; 
}

.redes-soc a {
  font-size: 2rem;
  color: #495057; 
  margin: 10px;
  padding: 5px;
}

.redes-soc a:hover {
  color: #007bff; 
}


.footer-nav a {
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.footer-nav a:hover {
   background-color: #cfdef1; 
}



/* Boton Whatsup */
 
.whatsapp-button {
    display: inline-flex;
    align-items: center;
    margin:20px;
    padding: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  }

  .whatsapp-button:hover {
    background-color: #1EBE57;
  }

  .whatsapp-button i {
    margin-right: 10px;
    
  } 


  /*---------------Pagina Nosotros------------------- */

  .titulo-pagina.equipo1 {
    text-align: center;
    font-size: 4rem; 
    text-shadow: 2px 2px 4px rgba(39, 37, 37, 0.7);
}

.item1.nosotros {
    margin-bottom: 50px;
}
  .titulo-pagina.equipo2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 650; 
    margin: 0px;
    padding: 3px;
  }



.imagen-nosotros img {
    margin-top: 20px;
    margin-bottom: 50px;
    padding:0;
    width: 70%;
    height: auto;
    border-radius: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 992px) {
  .titulo-pagina.titulo-pagina.equipo1 {
    font-size: 3rem;
  }
  .titulo-pagina.titulo-pagina.equipo2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .titulo-pagina.titulo-pagina.equipo1 {
    font-size: 2rem;
  }
  .titulo-pagina.titulo-pagina.equipo2 {
    font-size: 1rem;
  }


}

/*---------------Nuestros Servicios------------------- */


/* Estilo para las imágenes de las tarjetas */


.titulo-pagina.nuestros-servicios {
  text-align: center;
  font-size: 3.5rem; 
  text-shadow: 2px 2px 4px rgba(39, 37, 37, 0.7);
  margin: 25px;
  padding: 25px;
}

.card img {
  width: 100%; 
  height: auto; 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}


.card {
  width: 22rem;
  margin: 30px; 
}

.card.curso {
  width: 40rem;
  
}


@media (max-width: 992px) {
  .titulo-pagina.nuestros-servicios {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .titulo-pagina.nuestros-servicios {
    font-size: 2rem;
  }
  .card.curso {
    width: 22rem;
  }

}


/*---------------Pagina Contacto------------------- */


.titulo-pagina.contacto {
  text-align: center;
  font-size: 3.5rem; 
  text-shadow: 2px 2px 4px rgba(39, 37, 37, 0.7);
  margin: 25px;
  padding: 25px;
}


/* -----Formulario de Contacto-------- */

.formulario-contacto {
  margin: 20px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  background-color:  #afa3a38f;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.formulario-contacto label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.formulario-contacto input,
.formulario-contacto textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulario-contacto .buttons {
  text-align: center;
  margin-top: 20px;
}
.formulario-contacto button {
  padding: 10px 30px;
  margin:20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formulario-contacto button:hover {
  background-color: #45a049;
}

/*----------Iframe Google ---------*/

.google h1 {
  margin-top: 20px;
  padding: 15px;
  
}
.google h2 {
  margin-bottom:60px;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(39, 37, 37, 0.7);
}

.google iframe {
  width: 600px;
  height: 450px;
  border: 0;
  margin-bottom: 40px;
}


/*----------Carrito de reservas ---------------------*/

.titulo_pagina.carrito {
  margin: 35px;
  padding: 30px;
} 

